@{
    ViewBag.Title = "About";
}

<h1>Contacto.</h1>
<p>

    PUEDE COMUNICARSE CON NOSOTROS A TRAVÉS DE LOS SIGUIENTES PUNTOS DE CONTACTO:


    Información Médica: Resuelva inquietudes sobre productos Pfizer.

    Pfizer Pro: Portal exclusivo para profesionales de la salud.

    Trabajar en Pfizer: Conozca las oportunidades laborales de Pfizer vigentes en este momento.

    Proveedores: Portal para proveedores Pfizer.

    Eventos Adversos: Para reportar un evento adverso por favor escriba a COL.AEReporting@pfizer.com
</p>
