@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    La información de este sitio está dirigida exclusivamente a personas que residan en Colombia.
    COPYRIGHT © 2012-2020 PFIZER S.A.S., TODOS LOS DERECHOS RESERVADOS - PROHIBIDA SU REPRODUCCIÓN TOTAL O PARCIAL SIN AUTORIZACIÓN DE SU TITULAR.
    LAS MARCAS UTILIZADAS EN EL PRESENTE DOCUMENTO SON MARCAS REGISTRADAS EN FAVOR DE SU TITULAR.
</address>

<address>
    <strong>Support:</strong>   <a href="laboratoriospfizerkids@pfizer.com">aboratoriospfizerkids@pfizer.com</a><br />
    <strong>PQRS:</strong> <a href="contacto@pfizer.com">contacto@pfizer.com</a>
</address>